.nav-link {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: capitalize;
  padding: 1px 0px;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #000;
}

.navbar {
  background-color: transparent;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

body {
  background-color: #d1d1d1;
}

@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .nav-item:not(:last-child) {
    border-right: none;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.section {
  height: 92vh;
  margin-bottom: 150px;
}

.section-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-box1-img {
  width: 30rem;
  border-radius: 500rem;
}

.section-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-box2 .subbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-box2-heading {
  font-size: 100px;
  font-weight: 500;
}

.section-box2-head {
  font-size: 30px;
  font-weight: 500;
}

.section-box2-p {
  text-align: justify;
  width: 88%;
  font-weight: 500;
  text-transform: capitalize;
}

@media screen and (max-width: 786px) {
  .section-box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-box1-img {
    width: 20rem;
    border-radius: 500rem;
  }
}

@media screen and (max-width: 425px) {
  .section-box1 {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-box1-img {
    width: 20rem;
    border-radius: 500rem;
  }
}

@media screen and (max-width: 320px) {
  .section-box1 {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-box1-img {
    width: 15rem;
    border-radius: 500rem;
  }
}

.footer {
  height: 15vh;
  background-color: #bababa;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-list-item {
  margin-top: 30px;
}

.img {
  width: 50px;
}

@media screen and (max-width: 425px) {
  .footer {
    height: 10vh;
  }
  .footer-list-item {
    margin-top: 15px;
    margin-left: -46px;
  }
  .img {
    width: 25px;
  }
}
/*# sourceMappingURL=main.css.map */