.nav{
    
    &-link{
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: capitalize;
        padding: 1px 0px;
    }
    &-item{
        &:not(:last-child){
            border-right: 1px solid #000;
        }
    }    
}
.navbar{
    background-color: transparent;
    &-brand{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
    }
}
body{
    background-color: rgb(209, 209, 209);
}
@media screen and (max-width:768px){
    .nav{

        &-link{
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
        }
        &-item{
            &:not(:last-child){
                border-right: none;
            }
        }
        
    }
    .navbar-nav{
        display: flex;
        height: 20vh;
        justify-content: space-around;
    }
}

.navbar-toggler{
    border: none;
}